<h1>This is the secret page</h1>
<p>You found me</p>
<img src="https://img.grouponcdn.com/deal/2a5pzfENpMZmFGPjZ9N37qftYBj/2a-1097x658/v1/c700x420.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>